div {
    padding: 1%;
}
.even-div {
    color: white;
    font-weight: bolder;
    background-color: forestgreen;
    border-radius: 10px;
    border: 3px solid rgb(14, 240, 59);
    width: 10%;
    height: 10%;
    font-size: 8px;
}